@import 'theme';
@import 'navbar';


html {
    background-color: $background;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 3.75rem;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 4rem;
    .main-content{
        flex-grow: 2;
    }
}