@import 'theme';
@import 'globals';
@import 'variables';

@import 'navbar';
@import 'productCard';
@import 'searchBar';
@import 'chat_card';

@import 'pages/register';
@import 'pages/login';
@import 'pages/emailConfirmation';
@import 'pages/productListing';
@import 'pages/completeProfilePage';
@import 'pages/product';
@import 'pages/cart';



* {
    margin: 0;
    padding: 0;
}

:root {
    height: 100%;
    background-color: $background;
    font-family: 'Montserrat', sans-serif;
    word-break: break-all;
}

body {
    display: grid;
    grid-template-columns: $page-navbar-width auto;
    gap: $page-gap;
    margin: $page-margin;

    .main-content {
        max-height: calc(100vh - #{$page-margin*2});
        grid-column: 2;
    }

    .navbar {
        position: fixed;
        top: $page-margin;
        bottom: $page-margin;
        overflow: hidden;
    }

    .topnav {
        height: $topnav-height;
        width: calc(100% - #{$page-margin*2 + $page-navbar-width + $page-gap});
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        top: 0;
        left: calc($page-margin + $page-navbar-width + $page-gap);
        gap: 3rem;
        z-index: 2;
        overflow: hidden;
        background-color: $background;
    }

}