@import 'theme';
@import 'globals';
@import 'variables';

@import 'navbar';
@import 'productCard';
@import 'profileLayout';
@import 'profileNavbar';
@import 'settingsNavbar';
@import 'searchBar';
@import 'loader';
@import 'productPhotos';
@import 'expandableCard';
@import 'reviewCard';
@import 'notifications';
@import 'productMessageThread';
@import 'messageBubble';
@import 'popup';
@import 'filterBar';
@import 'wishlistButton';

@import 'pages/register';
@import 'pages/login';
@import 'pages/emailConfirmation';
@import 'pages/productListing';
@import 'pages/completeProfilePage';
@import 'pages/product';
@import 'pages/search';
@import 'pages/cart';
@import 'pages/checkout';
@import 'pages/profile';
@import 'pages/landingPage';
@import 'pages/editProduct';
@import 'pages/faqs';
@import 'pages/addReview';
@import 'pages/editReview';
@import 'pages/notificationPage';
@import 'pages/messages';
@import 'pages/purchaseHistory';
@import 'pages/settings';
@import 'pages/aboutUs';



* {
    margin: 0;
    padding: 0;
    word-break: break-all;
}

:root {
    height: 100%;
    background-color: $background;
    font-family: 'Montserrat', sans-serif;
    word-break: break-all;
    font-size: 16px; //1em
}

body {
    display: grid;
    grid-template-columns: $page-navbar-width auto;
    gap: $page-gap;
    margin: $page-margin;

    .main-content {
        max-height: calc(100vh - #{$page-margin*2});
        max-width: calc(100vw - #{$page-margin*2 + $page-navbar-width + $page-gap});
        grid-column: 2;
    }

    .main-content.full-page-height {
        min-height: calc(100vh - #{$page-margin*2});
    }

    .navbar {
        position: fixed;
        top: $page-margin;
        bottom: $page-margin;
        overflow: hidden;
    }

    .topnav {
        height: $topnav-height;
        width: calc(100% - #{$page-margin*2 + $page-navbar-width + $page-gap});
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: calc($page-margin + $page-navbar-width + $page-gap);
        gap: 1.5rem;
        z-index: 10;
        background-color: $background;
    }


}

@media screen and (max-height: 700px) {
    :root {
        font-size: 15px;
    }
}