@import 'theme';
input:not([type="file"]), select {
    display: block;
    background-color: #F3F3EB;
    border: none;
    height: 2.5rem;
    padding: 0rem 0rem 0rem 1rem;
    border-radius: 0.5rem;
}

textarea{
    border: none;
    background-color: #F3F3EB;
    padding: 1rem;
    border-radius: 0.5rem;
    resize: none;
    font-family: 'Montserrat', sans-serif;
}
input[type="checkbox"] {
    display: inline;
    height: auto;
    padding: 0;
    border-radius: 0;
    background-color: initial;
}

label[required]:after, h2[required]:after {
    content: "*";
    color: $secondary;
}

button {
    border: none;
    background: $secondary;
    height: 3.625rem; 
    padding: 0rem 0.5rem;
    border-radius: 0.5rem;
    color: $button-text-color;
    font-size: 1.25rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    cursor: pointer;
}

button:hover, button:active{
    background: $secondary-hover;
}

a.button{
    background-color: $accent;
    color: $background;
    text-decoration: none;
    border-radius: 0.5rem;
    padding: 0.3rem 1rem;
    font-size: 1.1rem;
}

a.button.outline{
    border: 2px $accent solid;
    color: $accent;
    background-color: inherit;
}


.title {
    font-family: 'Abril Fatface';
    color: $accent;
    font-size: 3rem;
    text-align: center;
}

.page-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 0rem 0rem 0rem;
} 

.column{
    display: flex;
    flex-direction: column;
}

.row{
    display: flex;
}

.justify-evenly{
    justify-content: space-evenly;
}

.justify-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: flex-end;
}

.justify-start{
    justify-content: flex-start;
}

.self-center {
    align-self: center;
}

.gap-1{
    gap: 1rem;
}
.gap-2{
    gap: 2rem;
}
.gap-3{
    gap: 3rem;
}

.w-full{
    width: 100%;
}

.h-full{
    height: 100%;

}
.grow-2{
    flex-grow: 2;
}

.items-center{
    align-items: center;
}

.items-begin{
    align-items: flex-start;
}

.line{
    border-bottom: 1px solid #a9a8a8;
    box-shadow: 0px 1px 0px 0px rgba(155, 155, 155, 0.2);
}

input[type="radio"] {
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    padding: 0;
    border: 2px solid $accent;
    border-radius: 50%;
    appearance: none;
    background-color: transparent;
    outline: none;
}

input[type="radio"]:not(:disabled):checked {
  border-color: $accent;
  background-color: $primary;
  background-clip: content-box;
  padding: 2px;
}
#page-end {
    padding-bottom: 2rem;
    display: flex;
    width: 100%;
    justify-content: center;
}


.pagination{
    display: flex;
    justify-content: center;
    padding-bottom: 1.5rem;
    ion-icon{
        color: $accent;
    }
    .pagination-buttons{
        display: flex;
        gap: 1rem;
        list-style-type: none;
        font-size: 1.3rem;

    }
    li, a{
        display: flex;
        align-items: center;
        text-decoration: none;
    }
    .abled{
        span {
            color: $secondary;
        }
    }
}

.modal-expandable-image{
    margin: 0;
    border-radius: 0.5rem;
}

.modal-expandable-image-container{
    border-radius: 0.5rem;
}

.modal-expandable-image-close-button:focus{
    box-shadow: none !important;
}

.modal-expandable-image-close-button:hover{
    color: $background;
}

.order-status{
    .shipped, .pendingShipment{
        color: $toast-yellow;
    }
    .cancelled, .requestCancellation{
        color: $toast-red;
    }
    .received{
        color: $toast-green;
    }
}

.swal2-toast{

    .swal2-title{
        word-break: normal;
    
    }
}