@import 'theme.scss';



div.message_buble {
    display: flex;
    padding: 0.75rem 0rem 0.75rem 1rem;
    align-items: flex-end;
    gap: 0.5rem;
    border-radius: 1.5rem 0rem 0rem 1.5rem;
    border-top: 0.5px solid var(--gray-400, #9BA9B0);
    border-bottom: 0.5px solid var(--gray-400, #9BA9B0);
    border-left: 0.5px solid var(--gray-400, #9BA9B0);
    background: var(--buttons-primary, #6064A4);
}