@import 'theme';

.message-bubble{
    width: fit-content;
    max-width: 66%;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #FBFBF3;

    .message-date{
        text-align: right;
        color: darken(#FBFBF3, 15%);
        font-size: 0.75rem;
    }
}

.message-bubble.sent{
    align-self: flex-end;
    background-color: $secondary;
}

.message-bubble.received{
    align-self: flex-start;
    background-color: $primary;

}