@import 'theme';

.message-bubble{
    width: fit-content;
    max-width: 66%;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #FBFBF3;
}

.message-bubble.sent{
    align-self: flex-end;
    background-color: $secondary;
}

.message-bubble.received{
    align-self: flex-start;
    background-color: $primary;

}