@import 'theme';

.message-bubble{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    max-width: 66%;
    padding: 1rem;
    border-radius: 0.5rem;
    color: #FBFBF3;

    .message-date{
        text-align: right;
        color: darken(#FBFBF3, 15%);
        font-size: 0.75rem;
    }

    .message-image{
        max-height: 15rem;
        border-radius: 0.5rem;
    }
}

.message-bubble.has-photo{
    padding: 0.5rem;
}

.message-bubble.sent{
    align-self: flex-end;
    background-color: $secondary;
    .message-text-content > p{
        text-align: left;
    }
}

.message-bubble.received{
    align-self: flex-start;
    background-color: $primary;

}