@import 'theme';

.notification-container{
    container-name: notification-card;
    container-type: inline-size;
}

.notification{
    display: flex;
    gap: 1rem;
    word-break: keep-all;
    align-items: stretch;
    padding: 0.5rem;
    border-radius: 0.5rem;
    cursor: pointer;

    .notification-image {
        background-size: cover;
        aspect-ratio: 1;
        border-radius: 0.5rem;
        flex-basis: 25%;
        flex-shrink: 0;
        align-self: center;
    }

    .notification-card-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;


        .notification-date{
            color: rgba($text-color, 0.5);
        }
    }

    .notification-read{
        align-self: center;
        background-color: $accent;
        padding: 0.4rem;
        border-radius: 50%;
    }
}

.notification:hover{
    background-color: $secondary-background;
}

@container notification-card (max-width: #{$notification-width}){
    .notification{
        .notification-actions{
            display: none;
        }
    }
}
