.product-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .product-image-card img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 0.5rem 0.5rem 0rem 0rem;
    }

    .product-image-card {
        width: 100%;
        height: 11rem;
        border-radius: 0.5rem 0.5rem 0rem 0rem;
    }
    
    .product-description-card {
        color: $secondary-background;
        display: flex;
        width: 100%;
        gap: 0.5rem;
        border-radius: 0rem 0rem 0.5rem 0.5rem;
        padding: 0.6rem 0;
        background: $primary;
    }

    .product-description-top{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        border-radius: 0.5rem;
    }

    .product-shipping{
        display: flex;
        padding: 0 1rem;
        text-align: left;
        font-size: 1rem;
    }

    .product-shipping-text > p::before{
        content: "+";
    }

    .product-shipping-text:not(.free-shipping) > p::after {
        content: "€";
    }

    .product-shipping ion-icon{
        rotate: 315deg;
        padding: 0 0.2rem;
    }

    .product-price > p::after{
        content: "€";
    }

    .product-description-bottom {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        border-radius: 0.5rem;
    }
    
    .product-price {
        padding: 0 1rem;
        text-align: right;
        font-size: 1rem;
        font-weight: 600;
    }

    .product-condition {
        padding: 0 1rem;
        text-align: left;
        font-size: 1rem;
        font-weight: 500;
    }

    .product-price > p::after{
        content: "€";
    }

    .product-size {
        padding: 0 1rem;
        text-align: left;
        font-size: 1rem;
        font-weight: 500;
    } 
}
