@import 'variables';

.profile-layout {
    display: flex;
    justify-content: space-between;
    align-items: sta;
    gap: 2rem;
    
    .profile-picture-container {
        width: 12rem;
        height: 12rem;
        border-radius:0.75rem;
        flex-shrink: 0;
        align-self: flex-start;
    }

    .profile-picture-container img {
        width: 100%;
        height: 100%;
        border-radius: 0.75rem;
        object-fit: cover;
    }

    .profile-description {
        display: flex;
        flex-grow: 2;
        flex-direction: column;
        gap: 0.3rem;
        justify-content: space-around;
        align-items: flex-start;
    }

    .profile-description-top {
        justify-content: space-around;
        align-items: flex-start;
        gap: 0.5rem;
    }

    .profile-description-bottom {
        display: flex;
        align-items: center;
        word-wrap: break-word;
    }

    .rating {
        display: flex;
        gap: 0.5rem;
        align-items: flex-end;
        a{
            text-decoration: none;
            color: darken($secondary, 20%);
            font-weight: 500;
        }
    }

    .rating ion-icon {
        font-size: 1.4rem;
        color: darken($secondary, 20%);
    }
}

@media screen and (max-width: 576px) {

    .profile-layout {
        .profile-picture-container {
            width: 10rem;
            height: 10rem;
        }

    }
}