.review-card{
    display: flex;
    flex-direction: column;
    background-color: $secondary-background;
    border-radius: 0.5rem;
    $width: 5rem;
    padding: 1rem;
    
    .profile-picture-container {
        width: $width;
        height: auto;
        border-radius:0.5rem;
        flex-shrink: 0;
        background: #F3F3EB;

        img {
            width: 100%;
            height: auto;
            border-radius: 1rem;
            aspect-ratio: 1;
            object-fit: cover;
        }
    }

    .review-card-header{
        display: flex;
        align-items: center;
        gap: 1.5rem;
    }
    .review-card-wrapper{
        color: $accent;
    }
}