    @import 'theme';

    .topnav {

        form {
            display: flex;
            align-items: center;
            flex-grow: 1;
        }

        input[type="text"] {
            color: $primary;
            font-weight: 500;
            font-size: 1rem;
        }

        input.search {
            flex-grow: 1;
            border: 1px solid $shadow;
            display: block;
            padding: 3px 4px 3px 40px;
            background-color: $secondary-background ;

        }

        input.search:focus {
            outline: none;
            border: 2px solid $primary;
        }

        a {
            text-decoration: none;
        }


        #search_icon {
            left: 8px;
            position: absolute;
            color: $primary;
            font-size: 1.5rem;
        }


        ion-icon:not(#search_icon) {

            margin-left: 0.5rem;
            color: $accent;
            font-size: 2rem;

        }

        ::placeholder {
            color: $primary;
            font-weight: 500;
            font-size: 1rem;
            opacity: 1;
        }

        .badge:after {
            content: attr(value);
            font-size: 12px;
            font-weight: 800;
            font-family: 'Montserrat', sans-serif;
            color: white;
            padding: 0.1rem 0.2rem 0.1rem 0.1rem;
            border-radius: 20%;
            position: relative;
            left: -1rem;
            top: -1.6rem;
            background-color: $primary;

        }


    }