.settings-navbar {
    display: flex;
    width: 55rem;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;



    .settings-navbar-items {
        display: flex;
        width: 100%;
        height: 100%;
        gap: 4rem;
        align-items: center;
    }

    .settings-navbar-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-shrink: 0;
    }

    a {
        text-decoration: none;
        color: $primary;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        font-weight: 500;
        font-size: 1.2rem;
    }

    .settings-navbar-item a:hover {
        background-color: #F3F3EB;
    }

    .settings-navbar-item a.active {
        background-color: $secondary;
        color: $accent;
    }


}