@import url('https://fonts.cdnfonts.com/css/abril-fatface');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');


$background: #FBFBF3;
$secondary-background: #F3F3EB;
$primary: #6064A4;
$secondary: #B794B8;
$accent: #2C2F57;
$text-color: #060604;
$shadow: #EFEFEF;

