@import "../variables";
@import '../theme.scss';

.layout-wrap{
    padding-bottom: 2rem;
    display: grid;
    grid-template-columns: auto 40%;
    align-items: center;
    min-height: calc(100vh - #{$page-margin*2});

}

.shopping-cart{
    height: 100%;
    padding: 0rem 3rem 0rem 0rem;

    .cart-orders {
        height: 100%;
        overflow-y: auto;
    }
    .seller-products{
        padding: 1rem 1.5rem 1rem 2rem;
        background-color: rgba($secondary-background, 0.5);
        border-radius: 0.5rem;
        position: relative;
    }
    .seller-products::before{
        content: "";
        top: 50%;
        left: 0;
        width: 0.7rem;
        height: 100%;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        background-color: $primary;
        transform: translateY(-50%);
        position: absolute;
    }
    .seller-products-header{
        justify-content: space-between;
        .wrapper{
            gap: 0.6rem;
        }
        .seller-image{
            width: 3rem;
            height: 3rem;
            border-radius: 0.5rem; 
        }
        .seller-display-name{
            font-size: 1rem;
            font-weight: 500;
        }
        .seller-username{
            font-size: 0.9rem;
        }
        .cart-order-remove{
            button{
                background-color: $button-text-color;
                color: $background;
                height: 2rem;
                font-size: 0.90rem;
                &:hover{
                    background-color: #444c63;
                }
            }
        }
    }
}
.cart-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0rem 1rem 0rem;

    .title{
        font-size: 1.75rem;
    }
    p{
        font-weight: 700;
        font-size: 1.3rem;
        color: $accent;
        font-family: 'Abril FatFace';
    }
}
.purchase-details{
    justify-content: space-between;
    padding-right: 1.1rem;

    p{
        font-size: 1.15rem;
        font-weight: 600;
        color: $secondary;
    }
}

.purchase-summary{
    right: $page-margin;
    top: $page-margin;
    bottom: $page-margin;
    height: calc(100vh - #{$page-margin*2});
    position: sticky;
    padding: 0rem 3rem;
    background-color: $secondary-background;
    border-radius: 0.5rem;

    .purchase-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 2rem 0rem 1rem 0rem;
        .title{
            font-size: 1.75rem;
        }
    }
    h3{
        color: $accent;
        font-size: 1.1rem;
    }
    .promo{
        #promo-code{
            border: 1px solid $accent;
        }
        button{
            padding: 0rem 0.5rem;
            font-size: 1rem;
            font-weight: 500;
            height: 2.5rem;
        }
        button:hover{
            background-color: darken($secondary, 5%);
            cursor: pointer;
        }
    }
    .total{
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        align-items: center;
        font-size: 1.1rem;
    }

    .voucher{
        > .voucher-code{
            color: $accent;
            font-weight: bold;
            > span{
                color: $text-color;
                font-weight: normal;
                font-size: 0.9rem;
            }
        }

        > .difference {
            color: $toast-red;
        }
    }
}


.shipping{

    .shipping-price{
        border-radius: 0.5rem;
        background-color: $secondary;
        padding: 0.5rem;
    }
    h3{
        color: $accent;

    }
}


.checkout-button{
    a{
        text-decoration: none;
        
    }
    button{
        padding: 0rem 0.6rem;
        height: 2.5rem;
        font-weight: 600;
        background-color: $accent;
        color: $background;
    }
    button:hover{
        background-color: darken($accent, 5%);
        cursor: pointer;
    }

}

.apply-button{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.cart-product{
    border-radius: 0.5rem;
    text-decoration: none;
    color: $text-color;
    background-color: rgba($background, 0.6);
    padding: 1.5rem 1rem;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px, rgba(255, 255, 255, 0.25) 0px 1px 0px inset;

    .product-image{
        width: 5rem;
        height: auto;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            aspect-ratio: 1/1;
            border-radius: 0.5rem;
        }
    }
    .cart-product-info{
        justify-content: space-between;
        align-items: end;
        flex: 1;
        a{
            text-decoration: none;
            color: $text-color;
        }
        .product-remove{
            font-size: 1.3rem;
            text-align: right;
        }
        .wrapper{
            gap: 0.3rem;
        }
        .product-name{
            font-weight: 500;
        }
        .product-size, .product-condition{
            font-size: 0.90rem;
        }

        .product-price{
            font-weight: 500;
            text-align: right;
            color: $primary;
        }
    }
}

.product{
    position: relative;
    .product-remove{
        position: absolute;
        top: 0.35rem;
        left: calc(100% - 2rem);
        z-index: 1;
        background-color: rgba($secondary-background, 0.9);
        border-radius: 50%;
        padding: 0.2rem;
        align-items: center;
        color: $text-color;
        font-size: 1.2rem;
        text-align: center;
        line-height: 0;
    }
}