
@import '../theme';

.faqs-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;

    .faqs-page{
        height: 60%;
        display: flex;
        gap: 3rem;
        flex-direction: column;
        align-items: center;

        .questions-wrapper{
            width: 50rem;
            margin-bottom: 0.5rem;

            h2 {
                font-size: 2rem;
                font-weight: 600;
                margin-bottom: 1rem;}

            .question-box{
                display: flex;
                flex-direction: column;
                margin-bottom: 1rem;
                cursor: pointer;
                padding: 18px;
                width: 100%;
                border: none;
                text-align: left;
                font-size: 15px;
                transition: 0.4s;
                background-color: $secondary;
                border-radius: 12px;

                .question{
                    display:flex;
                    justify-content: space-between;
                }
            }

            .question-box:hover, .question-box:active{
                background: $secondary-hover;
            }
        

            .answer{
                padding: 0 18px;
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s ease-out;
            }
        }

    }

}
