@import '../theme';

.landing-page{
    padding: 3rem 0 2rem 0;
    .header-image{
        width: 100%;
        img {
            width: 100%;
            border-radius: 0.5rem;
        }
    }

    .trending-section{
        h2 {
            color: $primary;
        }
    }

}