@import '../theme';

.list-item-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
}

.list-item{
    width: 100%;
    padding: 3rem 0rem;
    align-items: center;

    .tags,.price{
        width: 100%;
        input {
            width: calc(100% - 1rem);
        }
    }

    .tags{
        --var-tags-width: 0;
        .tags-list{
            width: var(--var-tags-width);
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            flex-basis: 100%;
            gap: 1rem 3rem;
            margin-top: 1rem;

            .add-tag {
                text-decoration: none;
                display: block;
                color: $text-color;
                background-color: $secondary;
                padding: 0.5rem 1rem;
                border-radius: 0.5rem;
            }
            .add-tag:visited{
                color: $text-color;
            }
        }
    }

    h2{
        font-size: 1.3rem;
        color: $primary;
    }

    p{
        margin-top: 0.5rem;
        color: $button-text-color;
    }

    .layout-wrapper{
        display: flex;
        gap: 4rem;
        align-content: center;
        
        #search_tag{
            overflow: hidden;
        }
    }

    .info,.input-list {
        h3 {
            font-weight: 500;
            font-size: 1rem;
            color: $secondary;
        }
        .category{
            width: 100%;
            margin: 0.5rem 0rem;
            display: flex;
            flex-direction: column;

            label{
                margin-bottom: 0.5rem;
            }
        }
    }
    button{
        font-weight: 500;
    }
    form {
        padding-bottom: 4rem;
    }
    .name {
        input {
            width:calc(100% - 1rem);
        }
    }
    .input-list{
        margin-top: 2rem;
    }
}