@import '../theme';

.product-layout{

    padding-bottom: 2rem;

    .swiper-pagination-bullet-active-main{
        background-color: $primary;
    }
    .review-card-swiper{
        margin: 1rem 0.3rem 0.3rem 0.3rem;
    }
}
.categories{
    display: flex;
    align-items: end;
    padding-top: 1rem;
    .separator{
        padding: 0rem 0.3rem;
    }
    p{
        font-size: 0.8rem;
    }
    a{
        text-decoration: none;
        color: $button-text-color;
    }
    a:hover{
        color: $secondary;
        text-decoration: underline;
    }
}
.layout-wrapper{
    display: grid;
    gap: 3rem;
    grid-template-columns: 57% auto;
    align-items: start;

    .product-image{
        display: grid;
        grid-template-columns: 20% auto;
        position: relative;
        min-height: 30rem;
        gap: 0.5rem;


        .gallery-main{
            margin: 0;
            height: 100%;
            .swiper-slide{
                background-size: cover;
                background-position: center;
                border-radius: 0.5rem;
            }
            .swiper-button-white{
                color: rgba($secondary-background, 0.9);
            }
            .swiper-button-white:hover{
                color: $background;
            }
        }
        .gallery-thumbs{
            margin: 0;

            .swiper-slide {
                border-radius: 0.5rem;
                opacity: 0.4;
                background-size: cover;
                background-position: center;
            }

            .swiper-slide-thumb-active {
                opacity: 1;
              }
        }
      
        #wishlist:hover {
            color: $accent-hover;
        }

    }

    img{
        width: 100%;
        height: 100%;
        aspect-ratio: 16/9;
        object-fit: cover;
        border-radius: 1rem;
    }

    
    .product-details{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 0.5rem;
        align-self: center;
    }
    .product-title{
        .title{
            text-align: left;
            font-size: 2rem;
        }
    }
    .product-price{
        h3 {
            text-align: left;
            font-size: 1.25rem;
            color: $secondary;
        }
    }
    .product-info{
        span{
            margin: 0rem 0.5rem;
        }
        p{
            font-weight: 500;
        }
    }
    .product-description{
        text-align: left;
        font-size: 0.9rem;
        text-align: justify;
        margin: 0.5rem 0rem;
        word-wrap: break-word;
    }

    .buy-now, .ask-question, .delete-product{
        background-color: $button-text-color;
        color: $background;
        cursor: pointer;
    }
    .buy-now:hover, .buy-now:active, .ask-question:hover, .ask-question:active{
        background: #444c63;
    }

    .edit-product{
        cursor: pointer;
        text-decoration: none;
        color: $text-color;
    }

    .product-buttons{
        display: flex;
        gap: 2rem;
        justify-content: flex-start;
        align-items: center;

        button{
            padding: 0rem 2.5rem;
            font-size: 1.1rem;
            height: 3rem;
        }
    }

    .product-sold {
        margin-top: 2rem;
        text-align: center;
    }

}

.seller{
    justify-content: space-around;
    .sold-by{
        .title{
            font-size: 1.5rem;
            color: $accent;
            text-align: start;
        }
    }
    .seller-wrapper{
        display: flex;
        gap: 1.5rem;
        align-items: start;

        p{
            font-size: 0.9rem;
        }
        
        .seller-info{
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            h3{
                font-size: 1.2rem;
                font-weight: 500;
                color: $text-color;
            }
            ion-icon{
                font-size: 1.3rem;
                color: $secondary;
            }
        }

        $width: 7rem;
        img {
            width: $width;
            height: auto;
            border-radius: 1rem;
            aspect-ratio: 1;
            object-fit: cover;
        }
    }
}

.seller-buttons{
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;

    button{
        font-size: 0.85rem;
        padding: 0 0.5rem;
        height: 1.8rem;
    }

    .visit-shop  > a{
        color: $text-color;
        text-decoration: none;
    }
}

.product-price-shipping-report{
    display: flex;
    gap: 2rem;
    .product-shipping{
        display: flex;
        align-items: center;
        h3{
            color: $primary;
            font-size: 0.9rem;
        }
    }
}

.reviews-empty{
    display: flex;
    flex-direction: column;
    justify-self: right;
    height: 100%;
    justify-content: center;
    .title{
        font-size: 1.6rem;
    }
    p{
        text-align: center;
    }
}

.has-reviews{
    
    h3{
        font-size: 1.6rem;
        text-align: left;
        margin-left: 0.5rem;
    }
    .swiper-pagination{
        position: relative;
        margin-top: 1.5rem;
    }
}