
.layout-wrapper{
    margin-top: 2rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    $width: 24rem;
    
    .main-square{
        background-color: $shadow;
        width: $width;
        height: $width;
        border-radius: 1rem;
    }
    .product-image{
        background-color: $shadow;
        border-radius: 1rem;
    }
    
    .product-details{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }
    .product-title{
        .title{
            text-align: left;
            font-size: 2rem;
        }
    }
    .product-price{
        h3 {
            text-align: left;
            font-size: 1.25rem;
            color: $secondary;
        }
    }
    .product-info{
        span{
            margin: 0rem 0.5rem;
        }
        p{
            font-weight: 500;
        }
    }
    .product-description{
        text-align: left;
        font-size: 0.9rem;
        text-align: justify;
        margin: 0.5rem 0rem;
        word-wrap: break-word;
    }

    .buy-now, .ask-question{
        background-color: $button-text-color;
        color: $background;
    }
    .buy-now:hover, .buy-now:active, .ask-question:hover, .ask-question:active{
        background: #444c63;
    }

    .product-buttons{
        display: flex;
        gap: 2rem;
        justify-content: flex-start;
        align-items: center;

        button{
            padding: 0rem 2.5rem;
            font-size: 1.1rem;
            height: 3rem;
        }
    }
    
    .seller-wrapper{
        display: flex;
        gap: 2rem;
        align-items: center;
    }
    .seller-info{
        display: flex;
        flex-direction: column;
        gap: 1rem;
        h3{
            font-size: 1.3rem;
            font-weight: 500;
            color: $text-color;
        }
        ion-icon{
            font-size: 1.4rem;
            color: $secondary;
        }
    }
    $width: 7rem;
    .square{
        width: $width;
        height: $width;
        background-color: $secondary-background;
        border-radius: 0.5rem;
    }
    .seller{
        justify-content: space-around;
    }
    
    .seller-buttons{
        display: flex;
        gap: 1rem;
        justify-content: flex-start;
        align-items: center;

        button{
            font-size: 1rem;
            padding: 0 0.8rem;
            height: 2rem;
        }
    }
}


