@import '../variables';

.profile-page{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    .profile-header {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

    }
    .profile-products {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(min(12rem), 1fr));
        gap: 1rem 1rem;
        padding-top: 2rem;
        a {
            text-decoration: none;
        }
    }
}

.profile-reviews{
    padding-top: 2rem;
}