@import '../theme';

.register-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
}

.register-page {
    height: 100%;
    display: flex;
    gap: 3rem;
    flex-direction: column;
    align-items: center;

    .register-box {
        width: 30rem;
        margin-bottom: 0.5rem;

        input {
            margin-bottom: 1rem;
            width: calc(100% - 1em);
        }

        button {
            margin-top: 2rem;
            width: 100%;
        }
    }

    .goto-login {
        width: 100%;
        text-align: center;
    }
}